<div class='card horizontal'>
  <div class='card-image valign-wrapper'>
    <img src='{{image}}' alt='{{book.description}}' />
  </div>
  <div class='card-stacked'>
    <div class='card-content'>
      <h3>{{title}}</h3>

      <ul>Description:
        <li>{{description}}</li>
      </ul>
    </div>
    <div class='card-action'>
      <h4>By: {{author}}</h4>
      <h5>Genre: {{genre}}</h5>
    </div>
  </div>
</div>

{{! no description yet  }}