<section class="card">
  <a href="/book/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{author}}</p>
    </div>
  </a>
</section>