{{!-- <section class="btn">
  <!-- The contents of this card links to the user page using the user ID -->
  <a href="/user/{{id}}">
    <!-- The card contains the user name as the card header -->
    <header>{{name}}</header>
    <!-- The card contains the first book of the user -->
    {{!-- <img src="/images/{{books.[0].filename}}" alt="{{books.[0].description}}"> --}}
  {{!-- </a>
</section> --}} 

{{!-- // no description of books yet --}}





<a href="/user/{{id}}" class="waves-effect waves-light btn-large teal darken-4 z-depth-3">{{name}}</a>