{{!-- <div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Reserve this book!</button>
  </p>
</div> --}}


{{!-- Needs to be editted to display dynamic filename (aka picture of book) --}}

    <style>
        body {
          background-image: url('/images/background-5.jfif');
        }
      </style>

<div class="container row bookbox">

    <div class="card horizontal">
        <div class="card-image">
          {{!-- <img src="/images/{{book.filename}}" alt="{{book.description}}"> --}}
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>{{book.title}}</h3>
            
            <ul>Description:
                <li>blahblah</li>
            </ul>
          </div>
          <div class="card-action">
            <h4>By: {{book.author}}</h4>
            <h5>Genre: {{book.genre}}</h5>
          </div>
        </div>
      </div>
</div>