{{!-- <div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Reserve this book!</button>
  </p>
</div> --}}


{{!-- Needs to be editted to display dynamic filename (aka picture of book) --}}

<section class="painting">
  <img src="/images/{{book.filename}}" alt="{{book.description}}">
  <div class="painting-details">
    <h3>{{book.title}}</h3>
    <p>By: {{book.author}}</p>
    <p>Genre: {{book.genre}}</p>
  </div>
</section>