<!-- Loop over each object in the projects array -->
{{!-- {{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}


    <style>
        body {
          background-image: url('/images/background-4.jpeg');
        }
      </style>


<div class = "container">

<div class="row">

    <div class=" valign-wrapper greenbox col s10 m6 pull-m1">

      <ul class="center-align ">   View By:
       <li> <a class="waves-effect waves-light btn-large teal darken-4 z-depth-3">All Books</a></li>
        <li><a class="waves-effect waves-light btn-large teal darken-4 z-depth-3">Author</a></li>
        <li><a class="waves-effect waves-light btn-large teal darken-4 z-depth-3">Genre</a></li>
      </ul>

    </div>

  <div class= " valign-wrapper  userbox col s10 m6 push-m1">

    <div class= " center-align ">
      <ul> View by User:
        {{#each users as |user|}}
       <li> {{> user-details}}</li>
        {{/each}}
    </ul>
    </div>
  </div>
</div>

</div>